body {
	background-color:black;
	width: 375px;
	height: 667px;
}

.container{
	width: 375px;
	height: 667px;

}


#scene {
	width: 375px;
	height: 667px;
}

.layer {
	width: 375px;
	height: 667px;
}

img {
    height: auto;
    width:100%;
}